#footer-section {
    padding: 80px 0;
    background: #F7F7F7;
    border-top: 1px solid #EEEEEE;
}

ul.footer-social-links {
    list-style-type: none;
    padding: 0;
}

ul.footer-social-links li {
    display: inline-block;
    margin-left: 30px;
}

ul.footer-social-links li:first-child {
    margin: 0;
}

ul.footer-social-links li a {
    font-size: 15px;
    color: #4F4F4F;
    display: block;
    text-transform: uppercase;
}

ul.footer-social-links li a:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 1px;
    background: #fe8869;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

ul.footer-social-links li a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

p.copyright {
    padding-top: 40px;
}