:root { 
--white_A700_7f:#ffffff7f; 
--white_A700_b2:#ffffffb2; 
--gray_400:#b8b8b8; 
--gray_500:#999999; 
--blue_gray_100:#cccccc; 
--blue_gray_100_cc:#d6d6d6cc; 
--black_900_3f:#0000003f; 
--gray_300:#e6e6e6; 
--white_A700_99:#ffffff99; 
--white_A700_dd:#ffffffdd; 
--gray_500_01:#a4a3a3; 
--white_A700_89:#ffffff89; 
--white_A700_19:#ffffff19; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_500:#a4a3a3; 
--red_900:#b80e0e; 
--orange_A700:#fa6900; 
--gray_900:#212121; 
--red_800:#cb1f24; 
--light_blue_700:#0078d4; 
--gray_200:#f0f0f0; 
--gray_300:#dee2e6; 
--gray_50:#f8f8f8; 
--black_900_1f:#0000001f; 
--black_900:#000000; 
--white_A700_19:#ffffff19; 
--white_A700:#ffffff; 
--pink_400:#c13584; 
--deep_orange_A400:#ff3d00; 
--orange_A700_19:#fa690019; 
--indigo_500:#4267b2;
--gray_500:#aaaaaa; 
--blue_gray_50:#f1f1f1; 
--blue_gray_400:#918989; 
--red_400:#db504a; 
--gray_200:#eeeeee; 
--gray_50:#f9f9f9; 
--deep_orange_A700_01:#e51717; 
--green_A700:#00d100; 
--black_900:#000000; 
--deep_orange_A700:#e51616; 
--blue_400:#3c91e6; 
--blue_gray_900:#342e37; 
--white_A700:#ffffff; 
}